.class-list{
    overflow-y: auto;
    max-height: 40vh;
}

.class-props-parent{
    padding: 20px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    overflow-y: hidden;
}

.class-props{
}

.class-props li {
	list-style-type: circle;
    list-style-position: outside;
    margin-left: 20px;
    width: calc(100% - 20px);
}

.class-props input{
    width: calc(100% - 10px);
    border-radius: 0;
    outline: none;
}

.class-props .class-name{
    font-size: 1rem;
    font-weight: bold;
    width: calc(100% - 10px);
}