* {
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	background-color: gray;
}

.app {
	height: 100vh;
}

button,
a {
	text-decoration: none;
	text-align: center;
	color: black;
	border: none;
	outline: none;
	display: inline-block;
	background-color: rgb(249, 249, 249);
	transition: 100ms ease;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

button:hover,
a:hover {
	background-color: rgb(220, 220, 220);
}

button:active,
a:active {
	background-color: grey;
}

.disabled{
    background-color: lightgrey;
    color: gray;
}

.disabled:hover{
    background-color: lightgrey;
    color: gray;
}

.disabled:active{
    background-color: lightgrey;
    color: gray;
}


.back{
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}