.new-schedule {
    background-color: white;
    padding: 50px;
}

.new-schedule label{
    margin-right: 10px;
}

.new-schedule input{
    width: 100%;
}

.new-schedule button{
    width: 100%;
}

.new-schedule .path-select{
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

.new-schedule #path{
    flex: 1;
}