.selector{
    background-color: white;
    padding: 50px;
}

/*

.selector .title {
    padding: 10px;
}

*/.selector .divider{
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100% - 10px;
    width:1;
}/*

.selector .recent{
    height: 100% - 10px;
    overflow: hidden;
}

*/.selector .recent ul{
    overflow-y: auto;
    height: 300px;
}

.selector ul{
    list-style-position: outside;
    padding: 0;
    list-style-type: none;
}

.selector li{
    margin-top: 10px;
    margin-bottom: 10px;
}/*

.selector .options .margin{
    margin: 50px;
}

.selector .options button{
    width: 100%;
} */